html {
    font-family: $default-font-family;
}

body {
    font-size: $standard-font-size;
}

input {
    padding: $margin/2;

    outline: 1px solid $grey;

    font-size: $standard-font-size;

    transition: outline 0.5s;

    &:focus {
        outline: 1px solid $yellow;
    }
}

button {
    border: 0;
}

h1 {
    padding: $margin;

    font-weight: bold;
    font-size: $xlarge-font-size;
    text-align: center;
}
