.add {
    padding: $margin;

    text-align: center;
}

.add__input {
    margin-right: $margin;
}

.add__save {
    margin-left: $margin;
    padding: $margin/2 $margin;

    background-color: $green;

    color: $white;
    font-size: $standard-font-size;
}
