doctype html
html
  head
    title= "Bookmark Manager"
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
  body
    h1 Bookmark Manager
    block content
    script(src='js/app.js')
